<?xml version="1.0" encoding="utf-8"?>
<!--
//  
// Copyright (c) 2017 Nick Rimmer. All rights reserved.  
// Licensed under the MIT License. See LICENSE file in the project root for full license information.  
//
-->
<packages>
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>